.intro{
	position:relative;
	background-image: radial-gradient(circle, white 85%, #95b2bf 5%);
}


@media only screen and (max-width: 600px) {
	.text-name{
		position:absolute;
		top: 30%;
		right:2%;
	}
	
	.job-title{
		text-align:text-center;
	}
}

@media only screen and (min-width: 600px) {
	.profile-pic{
		float:right;
		position:absolute; 
		right:10%;
		top:2%;
	}
}
	
	
.radial-gradient{
	background-image:radial-gradient(white,white,#7c9bcc);
}














/*.............................. treatments background image home page ...........................................*/
.treatments{
	background-image: url("../images/background/woman-getting-back-massage.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-color: rgba(255, 255, 255, 0.4); /* White with 60% opacity */
    background-blend-mode: lighten; /* Or other blend modes like multiply, screen, overlay */ 
}